<div class="testmonials-container">
    <div class="testmonial-content">

        <div class="testmonial-comment">
            <div class="testmonial-item">
                <i class="fas fa-quote-left"></i>
                <div [innerHTML]="'comment1'|translate" ></div>
                <div class="arrow-down"></div>
            </div>
            <div class="testmonial-person">
                <img src="../../../../assets/img/img_avatar.png" alt="">
                <h3>Raphael Züger</h3>
            </div>
        </div>

        <div class="testmonial-comment">
            <div class="testmonial-item">
                <i class="fas fa-quote-left"></i>
                <div [innerHTML]="'comment2'|translate" ></div>
                <div class="arrow-down"></div>
            </div>
            <div class="testmonial-person">
                <img src="../../../../assets/img/avatar-woman.png" alt="">
                <h3>Ilijana Pazanin</h3>
            </div>
        </div>

    </div>
</div>
