<div class="contact-heading">
    <h1>{{'Drop us a line'|translate}}</h1>
</div>
<div class="contactform">
    <div class="contactform-content">
        <form [formGroup]="contact">
            <div class="twoinputs">
                <mat-form-field>
                    <input matInput type="text" formControlName="firstName" placeholder="{{'firstname'|translate}}">
                    <mat-error>{{'errorFirstname'|translate}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" formControlName="lastName" placeholder="{{'lastname'|translate}}">
                    <mat-error>{{'errorLastname'|translate}}</mat-error>
                </mat-form-field>
            </div>

            <div class="twoinputs">
                <mat-form-field>
                    <input matInput type="text" formControlName="number" placeholder="{{'phone'|translate}}">
                    <mat-error>{{'errorPhone'|translate}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="email" formControlName="email" placeholder="{{'email'|translate}}">
                    <mat-error>{{'errorEmail'|translate}}</mat-error>
                </mat-form-field>
            </div>

            <div class="oneinput">
                <mat-form-field>
    <textarea matInput #subject maxlength="120" placeholder="{{'subject'|translate}}" mat-autosize="false"
              formControlName="subject"></textarea>
                    <mat-error>{{'errorSubject'|translate}}</mat-error>
                </mat-form-field>
            </div>

            <div class="oneinput">
                <mat-form-field>
    <textarea matInput #message maxlength="500" placeholder="{{'message'|translate}}" [rows]="5" mat-autosize="false"
              formControlName="message"></textarea>
                    <mat-hint align="end">{{message.value.length}} / 500</mat-hint>
                    <mat-error>{{'errorMessage'|translate}}</mat-error>
                </mat-form-field>
            </div>

            <button mat-raised-button color="primary" [disabled]="!contact.valid"
                    (click)="onSubmit()">{{'submit'|translate}}</button>

        </form>

    </div>
</div>
