
<div class="practice-container">
    <div class="practice-content">
        <div class="practice-gallery">
            <app-slider2-component [slides]="slajdovi"></app-slider2-component>
        </div>
        <div class="practice-text">
            <h2 [innerHTML]="'Practice'| translate" style="text-align: center;color: #a6c4dc"></h2>
            <div class="practice-description" [innerHTML]="'practice-detail'| translate"></div>
        </div>
    </div>
</div>
<app-reserve-contact></app-reserve-contact>
